body{
background-color: skyblue;    
}
.h1style{
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.image{
    border-radius: 15px;
    width: 200px;
    height: auto;
}
.subdiv{
    /*float: left; */
    display: inline-block;
    width: 200px;
    height: auto;
    border: 2px solid white;
    margin-left: 10px;
    border-radius: 15px;
}
.subdiv h3{
    text-align: center;
    color: white;
}
.maindiv{
    /*background-color: blue;
    margin-right: -70px; */
}
.caption{
    color: green;
    text-align: center;
}